
<div class="dialog text-center" style="display:none;">
	Odkaz bol skopirovany do schranky.
</div>


<div class="buttons">
	<div class="previousGallery" style="display: none;" title="Novšia galéria"><a href=""><div class="galleryPreviousButton"></div></a></div>
	<button onclick="loadAlbumsData(true)" class="galleryButton">Späť na albumy</button>
	<div class="nextGallery" style="display: none;" title="Staršia galéria"><a href=""><div class="galleryNextButton"></div></a></div>
</div>
<div class="album-header">
	<div>
		<h1 class="album-header-title"></h1>
		<p class="album-header-description"></p>
		<a href="#" class="album-share" title="Zdieľať galériu"></a>
	</div>
</div>
<div id="mygallery" >
</div>
<div id="pagination" class="text-center">
</div>

<div class="buttons">
	<div class="previousGallery" style="display: none;" title="Novšia galéria"><a href=""><div class="galleryPreviousButton"></div></a></div>
	<button onclick="loadAlbumsData(true)" class="galleryButton">Späť na albumy</button>
	<div class="nextGallery" style="display: none;" title="Staršia galéria"><a href=""><div class="galleryNextButton"></div></a></div>
</div>