
/*
	New custom styles for new gallery design
*/

#customMyGallery {
	text-align: center;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.customCover {
	width: 20%;
	padding: 10px;
	display: flex;
}

.customGal{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #66ccffcc;
	border-radius: 20px;
	padding: 8px;
	width: 100%;
}

.customGal .customAlb {
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.customGal .customImage {
	width: 100%;
	height: 200px;
	background-size: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.customGal .customLink {
	color: #000;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
	margin-top: 5px;
}

.customGal .customInfo{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-evenly;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 12px;
}

.customGal .customShare {
	cursor: pointer;
}

#pagination {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: center;
	justify-content: center
}

#pagination button {
	cursor: pointer;
	background-color: transparent;
	box-shadow: none;
	border: 2px solid black;
	border-radius: 5px;
	margin: 2px 3px;
	width: 40px;
	height: 40px;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
	transition: background-color 0.5s
}

#pagination button:hover {
	background-color: rgba(96, 96, 96, 0.3)
}

#pagination .active {
	background-color: rgba(96, 96, 96, 0.3)
}